@charset "UTF-08"

body 
{
	
	background-color: #ef4873;
	background-image: url("GNP.jpg");

}

h1{ 

color: white;
font-size: 30px;
background-color: 662641;


 }

ul {
	font-size: 25px;
	color: white;
	padding: 2em 2em;
	opacity: 1.0;
	list-style: none;
	word-spacing: 100px;
	margin width: 0px;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
   background-color: ef4873;
	
} 	

p {

	font-size: 28px; 
	color: ecd9b1;
	background-color: 7b3b60;


}


div {
	color: white;
	font-size: 27px;

	background-color: 662641;

	padding: 1em 1em;
	opacity: 1.0;
	list-style: none;
	word-spacing: 0px;
	margin width: 0px;
	margin: -5px -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 43px;
    margin-left: 43px;
}




table {

	font-size: 35px;
	color: white;
	background-color: 662641;

}


ol { 

	color: 7b3b60; 

}


li {

	color: white;
	font-size: 27px;
	background-color: 7b3b60;
	

	border:3px; border-style:solid; border-color:#FF0000; padding: 1em;"
}
