@charset "UTF-08"

body 
{
	
	background-color: #ef4873;
	background-image: url("GNP.jpg");

}

h1{ 

color: white;
font-size: 

 }

ul {
	font-size: 25px;
	color: white;
	padding: 2em 2em;
	opacity: 1.0;
	list-style: none;
	word-spacing: 100px;
	margin width: 0px;
	margin: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
   background-color: ef4873;
	
} 	

p {

	font-size: 15px; 
	font-color: ecd9b1;
}


#div1 {

	background-image: url(trai1.jpg);
}




table {

	font-size: 30px;
	font-color: d33e54;

}


